AppModel.js
.autohaml
index.html
main.js
view-by-color/ColorHorizontalBarGraph.js
view-by-color/ColorLegend.js
view-by-color/ColorPictogram.js
view-by-make/MakeHorizontalBarGraph.js
view-by-make/MakeLegend.js
view-by-make/MakePictogram.js
