!!! 5
%head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="bootstrap.min.css")
  :css
    body { 
      padding-top: 60px; 
      background-image: url('old_mathematics.png');
    }
    svg {
      border: 1px lightgrey solid;
    }

.topbar
  .topbar-inner
    .container-fluid
      %a.brand(href="#") NZ Stolen Cars


#graph.container-fluid

#legend.container-fluid
  %h5 Legend
  :markdown
    - hi
    - ho
    - hu
    - ha

    Waiting for data...

%script(src="jquery-1.7.1.min.js")
%script(src="underscore-min.js")
%script(src="d3.min.js")
%script(src="d3.time.min.js")
%script(src="backbone-min.js")
%script(src="bootstrap-twipsy.js")
%script(src="bootstrap-popover.js")
%script(src="xdate.js")
%script(src="AppModel.js")
%script(src="LegendView.js")
%script(src="GraphView.js")
%script(src="TooltipView.js")
%script(src="main.js")
