!!! 5
%head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="bootstrap.min.css")
  :css
    body { 
      padding-top: 60px; 
    }
    #graph, .tabs .active a {
      background-image: url('old_mathematics.png');
    }
    .tabs {
      margin-bottom: 0;
    }
  -# mixpanel
  :javascript
    var mpq=[];mpq.push(["init","80212ef6df3c099160a6aab3962be5f9"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();



.topbar
  .topbar-inner
    .container-fluid
      %a.brand(href="#") NZ Stolen Cars

%ul.tabs(data-tabs="tabs")
  %li.active
    %a#color(href="#color") Vehicle Color
  %li
    %a#make(href="#make") Vehicle Make
  %li
    %a#year(href="#year") Vehicle Age

#graph.container-fluid

#legend.container-fluid Waiting for data...

%script(src="jquery-1.7.1.min.js")
%script(src="underscore-min.js")
%script(src="d3.min.js")
%script(src="d3.time.min.js")
%script(src="backbone-min.js")
%script(src="bootstrap-twipsy.js")
%script(src="bootstrap-popover.js")
%script(src="bootstrap-tabs.js")
%script(src="mustache.js")
%script(src="xdate.js")
%script(src="AppModel.js")
%script(src="LegendView.js")
%script(src="GraphView.js")
%script(src="TooltipView.js")
%script(src="main.js")

-# clicky
:plain
  <script src="http://static.getclicky.com/js"></script>
  <script>clicky.init(236155);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/236155ns.gif" /></p></noscript>
