!!! 5
%head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="lib/bootstrap.min.css")
  :css
    body { 
      padding-top: 60px; 
    }
    .pill-content, .tabs .active a {
      background-image: url('old_mathematics.png');
    }
    .tabs {
      margin-bottom: 0;
    }
    .legend ul {
      list-style-type: none;
    }
    .legend li {
      float: left;
      margin-right: 10px;
    }
    .legend .square {
      width: 10px;
      height: 10px;
      display: inline-block;
      border: 1px solid black;
    }
    .clearfix {
      overflow: hidden;
    }
  -# mixpanel
  :javascript
    var mpq=[];mpq.push(["init","80212ef6df3c099160a6aab3962be5f9"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();

.topbar
  .topbar-inner
    .container-fluid
      %a.brand(href="#") Visualising the NZ Police Stolen Car Database

#tabs.container
  %ul.tabs(data-tabs="tabs")
    %li.active
      %a(href="#color") Vehicle Color
    %li
      %a(href="#make") Vehicle Make
    %li
      %a(href="#year") Vehicle Age

.container.pill-content
  #color.active
    .mostPopular
    .legend
    .pictogram
  #make
    .mostPopular
    .legend
    .pictogram
  #year
    .histogram
    .legend
    .pictogram

%script(src="lib/jquery-1.7.1.min.js")
%script(src="lib/underscore-min.js")
%script(src="lib/d3.min.js")
%script(src="lib/d3.time.min.js")
%script(src="lib/backbone-min.js")
%script(src="lib/bootstrap-twipsy.js")
%script(src="lib/bootstrap-popover.js")
%script(src="lib/bootstrap-tabs.js")
%script(src="lib/mustache.js")
%script(src="lib/xdate.js")
%script(src="AppModel.js")
%script(src="view-by-color/ColorLegend.js")
%script(src="view-by-color/ColorPictogram.js")
%script(src="view-by-color/ColorHorizontalBarGraph.js")
%script(src="view-by-make/MakeLegend.js")
%script(src="view-by-make/MakePictogram.js")
%script(src="view-by-make/MakeHorizontalBarGraph.js")
%script(src="view-by-year/YearLegend.js")
%script(src="view-by-year/YearPictogram.js")
%script(src="view-by-year/YearHistogram.js")
%script(src="main.js")

-# clicky
:plain
  <script src="http://static.getclicky.com/js"></script>
  <script>clicky.init(236155);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/236155ns.gif" /></p></noscript>
