!!! 5
%head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="bootstrap.min.css")
  :css
    body { 
      padding-top: 60px; 
    }
    #graph, .tabs .active a {
      background-image: url('old_mathematics.png');
    }
    .tabs {
      margin-bottom: 0;
    }

.topbar
  .topbar-inner
    .container-fluid
      %a.brand(href="#") NZ Stolen Cars

%ul.tabs(data-tabs="tabs")
  %li.active
    %a#color(href="#color") Vehicle Color
  %li
    %a#make(href="#make") Vehicle Make
  %li
    %a#year(href="#year") Vehicle Age

#graph.container-fluid

#legend.container-fluid Waiting for data...

%script(src="jquery-1.7.1.min.js")
%script(src="underscore-min.js")
%script(src="d3.min.js")
%script(src="d3.time.min.js")
%script(src="backbone-min.js")
%script(src="bootstrap-twipsy.js")
%script(src="bootstrap-popover.js")
%script(src="bootstrap-tabs.js")
%script(src="mustache.js")
%script(src="xdate.js")
%script(src="AppModel.js")
%script(src="LegendView.js")
%script(src="GraphView.js")
%script(src="TooltipView.js")
%script(src="main.js")

-# clicky
:plain
  <script src="http://static.getclicky.com/js"></script>
  <script>clicky.init(236155);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/236155ns.gif" /></p></noscript>
